<div class="services-container">
  <p-toast/>
  <header class="services-header">
    <h1>SERVICE NEST</h1>
    <button class="back-btn" (click)="onBack()">←</button>
  </header>

  <div class="view-request">
    <h2>View Request</h2>
    <div class="filter-container">
      <label for="statusFilter">Filter:</label>
      <select id="statusFilter" [(ngModel)]="selectedStatus" (change)="onStatusChange()">
        <option value="">All</option>
        <option value="New to Old">New to Old</option>
        <option value="Old to New">Old to New</option>
      </select>
    </div>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>SERVICE NAME</th>
            <th>SCHEDULE TIME</th>
            <th>NAME</th>
            <th>CONTACT</th>
            <th>ADDRESS</th>
            <th>PRICE</th>
            <th>ACTIONS</th>
          </tr>
        </thead>
        <tbody>
          @for(request of filteredRequests;track $index) {
          <tr>
            <td>{{request.service_name || 'N/A'}}</td>
            <td>{{formatDate(request.scheduled_time)}}</td>
            <td>{{(request.provider_details && request.provider_details[0] )?.name}}</td>
            <td>{{(request.provider_details && request.provider_details[0] )?.contact}}</td>
            <td>{{(request.provider_details && request.provider_details[0] )?.address}}</td>
            <td>
                ₹{{(request.provider_details && request.provider_details[0] )?.price}}
            </td>
            @if(request.status!='Cancelled') {
              <td class="actions">
                <button class="btn update" (click)="updateRequest(request.request_id,request.scheduled_time)">✏️</button>
                <button class="btn cancel" (click)="cancelRequest(request.request_id)">❌</button>
                @if (true) {
                  <span class="arrow" (click)="LeaveReview((request.provider_details && request.provider_details[0] )?.service_provider_id,request.service_id)">💬</span>
                  }
              </td>
            }
            
          </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="pagination">
      <button [disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)" class="btn-page">
        Previous
      </button>
      <span>Page {{currentPage}}</span>
      <button [disabled]="apiResponseEnd" (click)="onPageChange(currentPage + 1)" class="btn-page">
        Next
      </button>
    </div>


  </div>
</div>