<h2 mat-dialog-title>Edit Scheduled Time</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Scheduled Time</mat-label>
    <input
      matInput
      [formControl]="scheduledTime"
      type="datetime-local"
      required
    />
    @if (scheduledTime.hasError('required')) {
      <mat-error >
        Scheduled Time is required.
      </mat-error>
    }
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button
    mat-button
    (click)="onConfirm()"
    [disabled]="!scheduledTime.valid"
  >
    Save
  </button>
</mat-dialog-actions>
