@if(!otpStatus) {
  <app-generate-otp (onGenerate)="OnGenerate($event)"></app-generate-otp>
}@else {
  <div class="login-container">
    <div class="login- ">
      <div class="login-content">
        <h1 class="logo">SERVICE NEST</h1>
  
        <form class="login-form" [formGroup]="forgotForm" (ngSubmit)="ForgotPassword()">
          <div class="form-group">
            <div class="input-wrapper">
              @if (!email?.pristine && email?.invalid) {
              <i class="fas fa-user">*</i>
              }
              <input type="text" placeholder="Email" required formControlName="email">
            </div>
          </div>
          
  
          <div class="form-group">
            <div class="input-wrapper">
              @if (!otp?.pristine && otp?.invalid) {
              <i class="fas fa-user">*</i>
              }
              <input type="text" placeholder="OTP" required formControlName="otp" maxlength="6">
            </div>
  
          </div>
  
          <div class="form-group">
            <div class="input-wrapper">
              @if (!password?.pristine && password?.invalid) {
              <i class="fas fa-user">*</i>
              }
              <input type="password" placeholder="New Password" required formControlName="updatedPassword">
            </div>
            @if (errorMessage!='') {
            <div class="err">
              <span [ngStyle]="{'color':'red'}">{{errorMessage}}</span>
            </div>
            }
          </div>
  
          <div class="form-actions">
            <button type="submit" class="login-button">Update</button>
          </div>
  
          <div class="signup-prompt">
            Don't have account
            <a href="/signup" class="signup-link">Signup</a>
          </div>
        </form>
      </div>
  
      <div class="image-wrapper">
        <div class="hexagon">
          <img src="assets/hero.png" alt="Hero">
        </div>
      </div>
    </div>
  </div>
}
