@if(isLoading) {
  <app-spinner></app-spinner>
}
<div class="services-container">
  <header class="services-header">
    <h1 [routerLink]="'/'+userRole?.toLowerCase()+'/home'">SERVICE NEST</h1>
    <button class="back-btn" (click)="onBack()">←</button>
  </header>

  <div class="view-request">
    <div class="table-header">
      <h2>Requests</h2>
      <button class="refresh-btn" (click)="onRefresh()">
        <i class="fas fa-sync-alt">🔃</i>
      </button>
    </div>
    <div class="filter-container">
      <label for="statusFilter">Filter by Status:</label>
      <select id="statusFilter" [(ngModel)]="selectedStatus" (change)="onStatusChange()">
        <option value="">All</option>
        <option value="Pending">Pending</option>
        <option value="Accepted">Accepted</option>
        <option value="Cancelled">Cancelled</option>
        <option value="Approved">Approved</option>
      </select>
    </div>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>REQUEST ID</th>
            <th>SERVICE ID</th>
            <th>SERVICE NAME</th>
            <th>REQUESTED TIME</th>
            <th>SCHEDULE TIME</th>
            <th>STATUS</th>
            <th>ACTIONS</th>
          </tr>
        </thead>
        <tbody>
          @if(filteredBookings.length
          <=0) { <app-no-data-found />
          }
          @for(booking of filteredBookings;track $index) {
          <tr>
            <td>{{booking.request_id | filter}}</td>
            <td>{{booking.service_id | filter}}</td>
            <td>{{booking.service_name || 'N/A'}}</td>
            <td>{{booking.requested_time | datetime}}</td>
            <td>{{booking.scheduled_time|datetime}}</td>
            <td>
              <span class="status" [ngClass]="booking.status.toLowerCase()">
                {{booking.status}}
              </span>
            </td>
            @if(booking.status!='Cancelled') {
            <td class="actions">
              <button class="btn update" pTooltip="update" tooltipPosition="top"
                (click)="updateRequest(booking.request_id,booking.scheduled_time,booking.status)">✏️</button>
              <button class="btn cancel" pTooltip="cancel" tooltipPosition="top"
                (click)="cancelRequest(booking.request_id,booking.status)">❌</button>
              @if (booking.status === 'Accepted') {
              <span class="arrow" pTooltip="accepted providers" tooltipPosition="top"
                (click)="navigateToDetails(booking.provider_details!,booking.request_id,booking.status,booking.service_id)">→</span>
              }@else if(booking.status === 'Approved') {
                <span class="arrow" pTooltip="approved request" tooltipPosition="top"
                [routerLink]="'/householder/approve'">→</span>
              }

            </td>
            }

          </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="pagination">
      <button [disabled]="currentPage === 1" (click)="previousPage()" class="btn-page">
        Previous
      </button>
      <span>Page {{currentPage}}</span>
      <button [disabled]="apiResponseEnd" (click)="nextPage()" class="btn-page">
        Next
      </button>
    </div>


  </div>
</div>