<div class="services-container">
  <header class="services-header">
    <h1 routerLink="/provider/home">SERVICE NEST</h1>
    <button class="back-btn" (click)="onBack()">←</button>
  </header>

  <div class="view-request">
    <div class="table-header">
      <h2>Approved Request</h2>
      <button class="refresh-btn" (click)="onRefresh()">
        <i class="fas fa-sync-alt">🔃</i> 
      </button>
    </div>
    <div class="filter-container">
      <label for="statusFilter">Filter:</label>
      <select id="statusFilter" [(ngModel)]="selectedStatus" (change)="onStatusChange()">
        <option value="">All</option>
        <option value="New to Old">New to Old</option>
        <option value="Old to New">Old to New</option>
      </select>
    </div>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>REQUEST ID</th>
            <th>SERVICE NAME</th>
            <th>SCHEDULE TIME</th>
            <th>NAME</th>
            <th>CONTACT</th>
            <th>ADDRESS</th>
            <th>STATUS</th>
          </tr>
        </thead>
        <tbody>
          @if(filteredRequests.length<=0) {
            <app-no-data-found/>
          }
          @for(request of filteredRequests;track $index) {
          <tr>
            <td>{{request.request_id || 'N/A'}}</td>
            <td>{{request.service_name}}</td>
            <td>{{request.scheduled_time | datetime}}</td>
            <td>{{request.householder_name}}</td>
            <td>{{request.householder_contact}}</td>
            <td>{{request.householder_address}}</td>
            <td>
              <span class="status" [ngClass]="request.status.toLowerCase()">
                {{request.status}}
              </span>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="pagination">
      <button [disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)" class="btn-page">
        Previous
      </button>
      <span>Page {{currentPage}}</span>
      <button [disabled]="apiResponseEnd" (click)="onPageChange(currentPage + 1)" class="btn-page">
        Next
      </button>
    </div>


  </div>
</div>