<div class="services-container">

  <header class="services-header">
    <h1 routerLink="/provider/home">SERVICE NEST</h1>
    <button class="back-btn" (click)="onBack()">←</button>
  </header>

  <div class="view-request">
    <div class="table-header">
      <h2>Reviews</h2>
      <button class="refresh-btn" (click)="onRefresh()">
        <i class="fas fa-sync-alt">🔃</i> 
      </button>
    </div>
    <div class="filter-container">
      <label for="statusFilter">Filter:</label>
      <select id="statusFilter" [(ngModel)]="selectedStatus" (change)="onStatusChange()">
        <option value="">All</option>
        @for (category of categories.keys(); track $index) {
        <option [value]="category">{{categories.get(category)}}</option>
        }
      </select>
    </div>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>CATEGORY</th>
            <th>COMMENT</th>
            <th>RATING</th>
            <th>REVIEW DATE</th>
          </tr>
        </thead>
        <tbody>
          @if(filteredReview.length<=0) {
            <app-no-data-found/>
          }
          @for(review of filteredReview;track $index) {
          <tr>
            <td>{{review.id}}</td>
            <td>{{categories.get(review.service_id)}}</td>
            <td>{{review.comments}}</td>
            <td>{{review.rating}}</td>
            <td>{{review.review_date | datetime}}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="pagination">
      <button [disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)" class="btn-page">
        Previous
      </button>
      <span>Page {{currentPage}}</span>
      <button [disabled]="apiResponseEnd" (click)="onPageChange(currentPage + 1)" class="btn-page">
        Next
      </button>
    </div>


  </div>
</div>